/* div{
    width: 100vw;
    height: 100vh;
    background: rgb(209, 235, 245);
    display: flex;
    color: rgb(248, 156, 8);
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 208, 208);
  } */


  